
@import "tailwindcss";

@theme {
  --color-primary: #f2e8e0;
  --color-primary-dark: #d23141;
  --color-primary-light: #f4e5ec;
  --color-text-dark: #0f172a;
  --color-text-light: #64748b;
  --color-extra-light: #f8fafc;
}